# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory (Jest, Istanbul)
coverage/

# Build outputs
dist/
build/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
